<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rockit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rockit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rockit.Properties.Settings>
            <setting name="FindFolderPath" serializeAs="String">
                <value>C:\Rockit</value>
            </setting>
        </Rockit.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Rockit.Properties.Settings>
            <setting name="SongsFolderPath" serializeAs="String">
                <value>D:\Music</value>
            </setting>
            <setting name="ArtistCount" serializeAs="String">
                <value>0</value>
            </setting>
        </Rockit.Properties.Settings>
    </userSettings>
</configuration>